*{
    font-family: 'Montserrat', sans-serif;
}
table{
    table-layout: fixed;
    width: 100%;
}
main{
    width: 80%;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    margin-left: 125px;
    margin-top: 50px;
}
.pic img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 60px ;
}
.calendar{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 60px ; }s


th{
    font-size: 1rem;
    padding-right: 15px;
    padding-bottom: 10px;
}
.calendar p{
    color: rgb(11, 85, 114);
    font-size: 2rem;
    font-weight: bolder;
}
tr{
    font-size: 1rem;

    border-radius: 100%;
}
/*td{
    padding-bottom: 15px;
    padding-right: 20px;

}*/
.text-red{
    color: red;
}
.text-gray{
    color: whitesmoke;
}
.back-white{
    background-color: white;
}
.background-gray{
    background-color:darkgrey;
}
.calendar td{
    text-align: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
